<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Map</title>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvuX38ixu5Y8mD09agKjXH7xUNJPS_OIU&sensor=true">
    </script>
    <script src="{% static 'js/gmaps.js' %}"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="navbar navbar-default">
      <div class="navbar-inner">
        <div class="container" style="text-align:center;">
            <a class="btn btn-success" href="/nsa/add_event">Add Event</a>
            <!-- Change this one to log in feature..-->
            <a class="btn" href="/nsa/login">Log In</a>
		  <!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <div id="map"></div>

    <script type="text/javascript">
        var events = [];
        console.log("Hello");
        {% for event in event_list %}
            events.push({
                'latitude': '{{ event.latitude }}',
                'longitude': '{{ event.longitude }}',
                'sport': '{{ event.sport }}',
{#                'information': '{{ event.info }}',#}
                'players': '{{ event.players }}'
            })
            console.log(events);
        {% endfor %}
    </script>
    <script type="text/javascript">
        var raleigh_lat = 35.7795897;
        var raleigh_long = -78.6381787;
        var map = new GMaps({
            div: '#map',
            lat: raleigh_lat,
            lng: raleigh_long,
            zoom: 12
        });
        function myFunction(){
{#            $('#map').html('<div class="alert alert-success">Test</div>')#}
            alert("You have joined this event!")
        }
{#        var myBtn = document.getElementById('myBtn');#}
{#        myBtn.addEventListener('click', function(event){#}
{#           $('#map').html('<div class="alert alert-success">Test</div>')#}
{#        });#}
        for(var i=0; i < events.length; i++){
            map.addMarker({
                lat: events[i].latitude,
                lng: events[i].longitude,
                title: events[i].sport,
                icon: "../../static/img/" + events[i].sport + ".png",
                infoWindow: {
                    content: 'We are playing ' + events[i].sport + '.' + '<br>' + 'We have ' + events[i].players +
                            ' players.' + '<br>' + '<button id="myBtn" class="btn btn-success" onclick="myFunction()">Join Event</button>'
{#                    <button class="btn btn-success" href="/nsa" onclick="myFunction()">Join Event</button>'#}
                }
            });
        }
    </script>
    <a id="hello"></a>

    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>