<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Map</title>
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvuX38ixu5Y8mD09agKjXH7xUNJPS_OIU&sensor=true">
    </script>
    <script src="{% static 'js/gmaps.js' %}"></script>
</head>
<body>
    <div id="map"></div>

    <script type="text/javascript">
        var events = [];
        console.log("Hello");
        {% for event in event_list %}
            events.push({
                'latitude': '{{ event.latitude }}',
                'longitude': '{{ event.longitude }}',
                'sport': '{{ event.sport }}',
                'information': '{{ event.info }}',
                'players': '{{ event.players }}'
            })
            console.log(events);
        {% endfor %}
    </script>
    <script type="text/javascript">
        var raleigh_lat = 35.7795897;
        var raleigh_long = -78.6381787;
        var map = new GMaps({
            div: '#map',
            lat: raleigh_lat,
            lng: raleigh_long,
            zoom: 12
        });
        for(var i=0; i < events.length; i++){
            map.addMarker({
                lat: events[i].latitude,
                lng: events[i].longitude,
                title: events[i].sport,
                infoWindow: {
                    content: events[i].information + '<p>' + 'We have ' + events[i].players + ' players.' + '</p'
                }
            });
        }
    </script>
    <script src="{% static 'js/jquery.js' %}"></script>
</body>
</html>